# ====================================================================
# エディタ設定
# ====================================================================
# 基底設定
root = true

# 基本設定
[*]
indent_style = space
indent_size  = 2
charset      = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true

# 定義設定
[*.{js,css}]
indent_style = tab
indent_size  = 4
